<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
    <link rel="shortcut icon" href="https://img.icons8.com/metro/52/000000/library.png" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

</head>
<body>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse">

      <ul class="navbar-nav mr-auto">
        <%for(i=0;i<nav.length;i++){%>
          <li class="nav-item <%if (nav[i].name=='Authors'){%>active<%}%>">
            <a class="nav-link" href="<%=nav[i].link%>"><%=nav[i].name%></a>
          </li>
        <%}%>
      </ul>

      <form style="margin-right: 40px;">
        <%for(i=0;i<account.length;i++){%>
          <a href="<%=account[i].link%>" class="btn btn-outline-light"><%=account[i].name%></a>
        <%}%>
      </form>
      
    </div>
    
  </nav>

  <div class="container-fluid">
    <div class="text-white" style="padding: 80px 40px 40px;">
      <div class="row">
        <style></style>
        <h1>Authors</h1>
      </div>
    </div>
  </div>

  <!-- CARDS -->

  <div class="container" style="margin-top: 20px;">
      <div class="row row-cols-1 row-cols-md-5">
        
        <%for(i=0;i<authors.length;i++){%>
          <div class="col mb-3">
            <div class="card h-100">
              <img src="/images/<%=authors[i].image%>" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%=authors[i].name%></h5>
                <p class="card-text"></p>
                <a href="/authors/<%=authors[i]._id%>" class="stretched-link">More info...</a>
              </div>
            </div>
          </div>
        <%}%>
  
      </div>
  </div>

  <!-- Footer -->
  <footer style="background-color: #3E4551; color: #ffffff;" class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container">

      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center pt-5 mb-3">

        <%for(i=0;i<footer.length;i++){%>
          <!-- Grid column -->
          <div class="col-md-2 mb-3">
            <h6 class="text-uppercase font-weight-bold">
              <a href="<%=footer[i].link%>"><%=footer[i].name%></a>
            </h6>
          </div>
          <!-- Grid column -->
        <%}%>

      </div>
      <!-- Grid row-->

      <!-- Grid row-->

        <!-- Grid column -->
        <div class="col-md-8 col-12 mt-5"></div>
        <!-- Grid column -->

      <!-- Grid row-->

      <!-- Grid row-->
      <div class="row pb-3">

        <!-- Grid column -->
        <div class="col-md-12">

          <div style="text-align: center;" class="mb-5 flex-center">

            <%for(i=0;i<footericon.length;i++){%>
              <a href="<%=footericon[i].link%>" class="<%=footericon[i].icon%>">
                <i class="<%=footericon[i].class%>"> </i>
              </a>
            <%}%>

          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div style="background-color: #323741;" class="footer-copyright text-center py-3 text-muted">© 2020 Copyright: Library Management System</div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

  <script src="public/js/bootstrap.min.js"></script>    
</body>
</html>